.btn {
  padding: 10px 20px;
    min-width: 150px;
    font-size: 18px;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.btn--primary {
  background-color: #e40613;
  color: #fff;
  
}

.btn--border {
  background: #242424;
  color: #fff;
  border: 2px solid #fff;
}

.btn--border:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: all .5s ease-in-out;
}

.btn--medium {
  padding: 10px 20px;
  font-size: 18px;
}

.btn--big {
  padding: 10px 30px;
  font-size: 20px;
}

.btn--large {
  font-size: 30px;
  padding: 20px 40px;
}

