.opinions--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.opinions--list {
  max-width: 1200px;
  padding: 20px;
}

.opinion--item {
  background-color: #242424;
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 40px;
  color: #fff;
}

.opinion--item--left {
  display: flex;
}

.opinion--item--left img {
  padding: 10px 20px;
  height: 150px;
  width: 150px;
}

.opinion--item--data {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}

.opinion--item--name {
  font-size: 20px;
}

.opinion--item--date {
  align-items: flex-end;
  justify-content: end;
}

.opinion--item--right {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.opinion--item--text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.opinion--item--icons {
  padding-top: 5px;
}

.fa-star {
  color: gold;
}